.sideBarContainerClosed {
    float: left;
    position: fixed;
    height: 100%;
    /* width: 80px; */
    background-color: #2B2D42;
    color: white;
}

.sideBarContainerOpen{
    float: left;
    position: fixed;
    height: 100%;
    /* width: 250px; */
    background-color: #2B2D42;
    color: white;
    overflow-y: auto;
}

.sideBarContainerOpen {
    float: left;
}

.topSpacer {
    height: 75px;
}

.lectureOption {
    font-size: 16pt;
    text-align: left;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-bottom: 5px;
    border-bottom: "1px solid white";
}

.lectureOption:hover {
    cursor: pointer;
    background-color: rgb(59, 61, 83);
}

.expandButton {
    justify-content: center;
    width: 40px;
    /* background-color: white; */
}